.catalog {
    background-image: url(/public/img/IMAGE_BACKGROUND.jpeg)
    ;
    background-size: 25%;
    ;
    
   
}
.background_header {
    background-image: linear-gradient(to right, red,white,blue);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 10px 10px red;
   
}

.catalog .h1 {
    color: black;
    font-size: 50px;
}

.catalog  .h3{
    color: black;
    font-size: 25px;
}

