.product h2 {
    color:black;
}

.product{
    border: 1px solid grey;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
    background: linear-gradient(90deg ,red ,white, blue);
}

.product label {
    display: block;
    font-size: 25px;
    color: black;
}

.product .productImg{
    height: 350px;
    width: 350px;
}


